<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take image</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

    <link rel="stylesheet" href="../static/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body>
    <div class="bg-img">
        <div>
            <div class="content">
                <style>
                    html body {
                      background-color: rgb(206, 206, 228);
                    }
                  </style>
                  <!--Form Section-->
                  <br /><br />
                  <h2 style="text-align: center; margin: 0px; color: rgb(9, 8, 8)">
                    <b>Select Group Name </b>
                  </h2>
                  <br />
                  
                  <div
                    style="
                      width: 350px;
                      height: 40rem;
                      margin: 0px auto;
                      color: rgb(216, 181, 8);
                      border-radius: 25px;
                      padding: 10px 10px;
                    "
                  >
                
                  <!--Form Section-->
                  <br /><br />  
                  <h1>Group Names</h1>
                  <form method="POST" action="/show_member">
                    {% for group in groups %}
                        <input type="radio" name="group" value="{{ group[0] }}">{{ group[0] }}<br>
                    {% endfor %}
                    <br>
                    <input type="submit" value="Submit">
                </form>

            </div>

        </div>
    </div>
</body>
</html>