<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take image</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

    <link rel="stylesheet" href="../static/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body>
    <div class="bg-img">
        <div>
            <div class="content">
                <style>
                    html body {
                      background-color: rgb(206, 206, 228);
                    }
                  </style>
                  <!--Form Section-->
                  <br /><br />
                  <h2 style="text-align: center; margin: 0px; color: rgb(9, 8, 8)">
                    <b>Select Members Name </b>
                  </h2>
                  <br />
                  
                  <div
                    style="
                      width: 350px;
                      height: 40rem;
                      margin: 0px auto;
                      color: rgb(216, 181, 8);
                      border-radius: 25px;
                      padding: 10px 10px;
                    "
                  >
                
                  <!--Form Section-->
                  <br /><br />  
                  <h1>Members Names</h1>
                  <form method="POST" action="/split_expense_result">
                      {% for member in members %}

                          <input type="checkbox" name="member" value="{{ member }}">{{ member[0] }}<br>

                          
                      {% endfor %}
                      <br>
                      <h1>Paid By</h1>
                      {% for member in members %}
                          <input type="radio" name="paidby" value="{{ member }}">{{ member[0] }}<br>
                      {% endfor %}
                      <label for="expence_name">Enter Expence Name :</label>
                      <input type="text" name="expence_name" id="expence_name"><br>
                      <label for="amount">Enter Amount:</label>
                      <input type="number" id="amount" name="amount" required>
                          <br /><br /> 
                          <label>
                            <input type="radio" name="split" value="equal_split" checked>Equal split
                          </label>
                          <label>
                            <input type="radio" name="split" value="customize_split">Customize Split
                          </label><br>
                          
                          <div id="customize-section" style="display: none;">
                            <h2>Customize Split</h2>
                            <p>Enter the amount paid by each member:</p>
                            {% for member in members %}
                              <label for="amount-{{ member[0] }}">{{ member[0] }}:</label>
                              <input type="number" id="amount-{{ member[0] }}" name="cos_amount" value="0" min="0"><br>
                            {% endfor %}
                          </div>
                          
                      
                      <input type="submit" value="Submit">
                    </form>

                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script>
                      $(document).ready(function() {
                        $('input[name="split"]').change(function() {
                          if ($(this).val() === 'customize_split') {
                            $('#customize-section').show();
                          } else {
                            $('#customize-section').hide();
                          }
                        });
                      });
                    </script>

            </div>

        </div>
    </div>
</body>
</html>